<div class="container hidden">
  <form id="login" class="form-signin" role="form">
    <h2 class="form-signin-heading">Login</h2>
    <input type="text" class="form-control" name="username" placeholder="username" required autofocus>
      #shadow-root (user-agent)
        <div id="inner-editor"></div>
        <div pseudo="-webkit-input-placeholder" id="placeholder" style="visibility: visible; text-overflow: clip;">Username</div>
    </input>
    <input type="password" class="form-control" name="password" placeholder="password" required>
      #shadow-root (user-agent)
        <div id="inner-editor"></div>
        <div pseudo="-webkit-input-placeholder" id="placeholder" style="visibility: visible; text-overflow: clip;">Password</div>
    </input>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>
</div>
