<div class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div id="session" class="navbar-header">
      {{#if session }}
        <!-- active user session -->
        <a class="navbar-brand logout" href="#">Logout</a>
      {{else}}
        <!-- no user session -->
        <a class="navbar-brand login" href="#">Login</a>
        <a class="navbar-brand join" href="#">Join</a>
      {{/if}}
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Entrepreneurs</a>
        </li>
        <li>
          <a href="#">Investors</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Dropdown
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#">Upload Excel</a>
            </li>
            <li>
              <a href="#">Schedule Meetings</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
